{% extends "base.html" %}

{% block content %}

    <h1 class="title">
        Your Preferences:
        {% for ingredient in ingredients %}
            {{ ingredient }},
        {% endfor %}
    </h1>
    <br>
    <br>
    <table>
        <tr>
            <th class="title"></th>
            <th class="title">Meal Name</th>
            <th class="title">Ingredients (Your Preferences)</th>
            <th class="title">Cuisine (Your Preferences)</th>
        </tr>
        {% for suggestion in suggestions %}
            <tr>
                <td><img style="border-radius: 50%;width: 128px" src="{{ suggestion.image }}"></td>
                <td><b>{{ suggestion.name }}</b></td>
                <td><b>{{ suggestion.get_all_ingredients_with_comma() }}</b></td>
                <td><b>{{ suggestion.cuisine }}</b></td>
            </tr>{% endfor %}
    </table>
{% endblock %}